<!-- <div class="content">
	<% @festivals.each do |festival| %>
		<span class="name"><%= festival.name %> </span>

		<!-- <span class="logo"> 
			<%= link_to image_tag(festival.logo, alt: "EDC NYC 2013"), 'http://electricdaisycarnival.com/NewYork/' %>
		</span> -->
	<!-- 
	<span class="date"> <%= festival.date %> </span>
	<span class="details"> <%= festival.name %> </span> 
	<% end %>
</div> -->

<!-- 
<% @festivals.each do |festival| %>
  -->
    <span><%= festival.name %></span>
    <span><%= festival.logo %></span>
    <span><%= festival.date %></span>
    <span><%= festival.lineup %></span>
    <span><%= festival.details %></span>
    <span><%= festival.camping %></span>
    <span><%= festival.month %></span>
<!--<% end %> -->